button {
    justify-self: center;
    align-self: center;
}

input, a, h2 {
    justify-self: center;
    align-self: center;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    justify-self: center;
    align-self: center;
    background: #555;
    padding: 10px;
    border-radius: 10px;
    font-size: 25px;
    transition: all 0.3s;
}

.custom-file-upload:hover {
    background: #777;
    color: #000;
}