#root {
  width: 100%;
  height: 100%;
}

.header {
  background: #06a;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  padding: 0 10% 0 10%;
}

.header__logo {
  color: #fff;
  font-size: 25px;
}

.header__filler {
  flex: 1;
}

.header__theme-toggle {
  background: linear-gradient(90deg, rgba(255,255,255,1) 49%, #222 51%);
  width: 60px;
  height: 30px;
  border: 2px #39d solid;
  border-radius: 5px;
}

.header__theme-toggle__slider {
  background: #06a;
  width: 28px;
  height: 26px;
  border-radius: 0 2px 2px 0;
  margin-left: 28px;
  transition: all 0.3s;
}

.header__theme-toggle__slider--dark {
  margin-left: 0;
  border-radius: 2px 0 0 2px;
}

.select-translator {
  background: #06a;
  color-scheme: light;
  display: grid;
  grid-template-columns: 200px 30px;
  width: 230px;
  box-sizing: unset;
  padding: 0;
  /* border: 1px 1px 1px solid #39d; */
  border-radius: 5px;
  margin: 0 5% 0 0;
  outline: none;
  user-select: none;
  /* transition: all 0.3s; */
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.select-translator__selected {
  grid-area: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.select-translator__arrow {
  grid-area: 1 / 2;
  align-self: center;
  box-sizing: unset;
}

.select-translator__li {
  display: none;
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 10px;
  border-top: 1px solid #28c;
}

.select-translator__li:hover {
  background: #17b;
  border-radius: 5px;
}

@media (hover: hover) {
  .select-translator:hover {
    transform: translateY(55px);
  }
  .select-translator:hover .select-translator__selected, .select-translator:hover .select-translator__arrow {
    margin-bottom: 9px;
  }
  .select-translator:hover .select-translator__li {
    display: block;
  }
}

@media (hover: none) {
  .select-translator--touch {
    transform: translateY(55px);
  }
  .select-translator--touch .select-translator__selected, .select-translator--touch .select-translator__arrow {
    margin-bottom: 9px;
  }
  .select-translator__li--touch {
    display: block;
  }
}

@media (max-width: 340px) and (hover: none) {
  .select-translator {
    grid-template-columns: 200px 0px;
    width: 200px;
  }
  .select-translator__arrow{
    display: none;
  }
  .select-translator--touch {
    transform: translateY(70px);
  }
}

.main-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 30px auto 30px;
  grid-gap: 10px;
  width: 100%;
  height: calc(100% - 60px);
  box-sizing: border-box;
  padding: 7% 7% 10% 7%;
}

.select-container {
}

.select-language {
  width: 100%;
  height: 100%;
}

.button-translate {
  background: #06a;
  box-shadow: 1px 1px 5px #000;
  width: 100px;
  height: 100px;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  transition: all 0.3s;
  color: #fff;
}

.button-translate--dark {
  box-shadow: 1px 1px 5px #444;
}

.button-translate:hover {
  background: #484;
  color: #FFF;
}

@media (max-width: 750px){
  .main-container {
    padding: 10% 5% 70px 5%;
  }
  .header {
    padding: 0 5% 0 5%;
  }
  .header__logo {
    display: none;
  }
  .header__filler {
    order: 1;
  }
  .header__theme-toggle {
    order: 2;
  }
  .button-translate {
    font-size: 25px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    border-radius: 0;
  }
}