#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header {
  background: #06a;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding: 0 10% 0 10%;
}

.header__logo {
  color: #fff;
  font-size: 25px;
}

.header__filler {
  flex: 1;
}

.header__theme-toggle {
  background: linear-gradient(135deg, rgba(255,255,255,1) 49%, rgba(0,0,0,1) 51%);
  width: 30px;
  height: 30px;
  border: 1px #fff solid;
}

.select-translator {
  background: #06a;
  display: grid;
  grid-template-columns: 200px 30px;
  color-scheme: light;
  width: 230px;
  padding: 2px 0 2px 0;
  border: 1px solid #39d;
  border-radius: 5px;
  margin-right: 5%;
  outline: none;
  user-select: none;
  /* transition: all 0.3s; */
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.select-translator__li {
  display: none;
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 5px;
  border-top: 1px solid #28c;
}

@media (hover: hover) {
  .select-translator:hover {
    transform: translateY(41px);
  }
  .select-translator:hover .select-translator__li {
    display: block;
  }
}

@media (hover: none) {
  .select-translator--touch {
    transform: translateY(41px);
  }
  .select-translator__li--touch {
    display: block;
  }
}

.select-translator__selected {
  grid-area: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-translator__arrow {
  grid-area: 1 / 2;
  align-self: center;
}

.select-translator__li:hover {
  background: #17b;
  border-radius: 5px;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 30px auto 30px;
  grid-gap: 10px;
  width: 100%;
  height: 50%;
  margin: 0 10% 0 10%;
}

.select-container {
}

.select-language {
  width: 100%;
  height: 100%;
}

button {
  background: #ccc;
  width: 100px;
  height: 100px;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  transition: all 0.3s;
}

.button--dark {
  background: #555;
}

button:hover {
  background: #484;
  color: #FFF;
}

@media (max-width: 750px){
  .main-container {
      margin: 0 5% 0 5%;
  }
  .header {
    padding: 0 5% 0 5%;
  }
  .header__logo {
    display: none;
  }
  .header__filler {
    order: 1;
  }
  .header__theme-toggle {
    order: 2;
  }
  button {
    font-size: 25px;
  }
}