.text-field {
    background: #EEE;
    min-height: 50vh;
    max-height: 70vh;
    padding: 10px;
    border: 1px solid #777;
    border-radius: 10px;
    font-size: 20px;
    direction: ltr;
    text-align: left;
    text-overflow: ellipsis;
    /* word-wrap: break-word;
    overflow-wrap: break-word; */
    line-break: anywhere;
    overflow-y: auto;
}

.text-field:focus {
    outline: none;
    border: 1px solid #fff;
}

.text-field--dark {
    background: #555;
}

button {
    justify-self: center;
    align-self: center;
    grid-area: 2 / 2;
}

.input {
    grid-area: 2 / 1;
}

.output {
    grid-area: 2 / 3;
}

.read-file {
    grid-area: 3 / 3 span;
    justify-self: start;
}

@media (max-width: 750px){
    .text-field {
        font-size: 16px;
    }
}