.button-translate {
    grid-area: 2 / 2;
    justify-self: center;
    align-self: center;
}

input, a, h2 {
    justify-self: center;
    align-self: center;
}

.file-download {
    grid-area: 2 / 3; 
}

.file-download--dark {
    color: #fff;
}

#upload {
    display: none;
    grid-area: 2 / 1;
}

.file-upload {
    justify-self: center;
    align-self: center;
    background: #ccc;
    padding: 10px;
    border-radius: 10px;
    font-size: 25px;
    transition: all 0.3s;
}

.file-upload:hover {
    background: #999;
}

.file-upload--dark {
    background: #555;
    color: #fff;
}

.file-upload:hover {
    background: #777;
}